/* app css stylesheet */

.header {
    background-color: #FAFAFA;
    height: 50px;
    width: 100%;
}

.header h2{
    margin-left: 100px;
    line-height: 50px;
}

.ngdialog.ngdialog-theme-plain .ngdialog-content {
    display: inline-block;
}

.right-navbar{
    float: right;
}

#chart-container{
    float: left;
    overflow: auto;
    max-resolution: 600px;
}

body{
    overflow: hidden;
    height: 100%;
}