<div>
    <form name="form" novalidate>
        <div class="form-group">
            <label for="projectname">Project Name</label>
            <input type="text" class="form-control" placeholder="new project Name" id="ProjectName"
                   ng-model="project.name" required>

        </div>
        <div class="form-group">
            <label for="projectDescription">Description</label>
            <input type="text" id="projectDescription" class="form-control" placeholder="short description"
                   ng-model="project.description" required>
        </div>
        <div class="form-group">
            <label for="projectColor">Project Color</label>
            <input type="color" id="projectColor" ng-model="project.color" required>
        </div>


        <button type="submit" class="btn btn-primary" ng-click="addProject()">Add</button>


    </form>
</div>